<mat-card >
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <mat-card-title>
      <div> Log in </div>
    </mat-card-title>
    <mat-form-field class="mat-form-field-flex">
      <input matInput
             placeholder="Enter your email"
             name="email"
             formControlName="email"
             required>
    </mat-form-field>
    <mat-form-field class="mat-form-field-flex">
      <input type="password"
             matInput
             placeholder="Password"
             name="password"
             formControlName="password"
             required>
    </mat-form-field>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="this.loginForm.invalid"
      >Log in</button>
    <button mat-raised-button
            color="warn"
            type="cancel"
            (click)="btnClick()"
    >Cancel</button>
  </form>
</mat-card>




