<div class="container">

  <div class="row d-flex justify-content-center">

    <div class="row">
      <ul>
        <li *ngFor="let order of orders$ | async">
          <h3>
            Order No: {{order._id}}
          </h3>
          <dl>
            <dt>
              Reservation Date: {{order.reservationDate}}
            </dt>
            <dt>
              From Date: {{order.fromDate}}
            </dt>
            <dt>
              To Date: {{order.toDate}}
            </dt>
            <dt>
              Number of Nights: {{order.numNights}}
            </dt>
          </dl>
          <button type="button" class="btn btn-danger space_button" (click)="cancelOrder(order);">Cancel Order</button>
        </li>
      </ul>
    </div>

    <div>
      <button type="button" class="btn btn-danger space_button" (click)="goBack();">Back</button>
    </div>
  </div>
</div>
