<div class="container">
  <div class="row" *ngIf="hotel">
    <div class="col-lg-12 p-2">
      <section>
        <h3>{{hotel.name}}</h3>
        <p class="font-weight-light">{{hotel.address}}, {{hotel.city}}, {{hotel.country}}</p>
        <p>{{hotel.description}}</p>
        <div>
        <img class="rounded img-fluid" src="{{hotel.img}}" alt="{{hotel.name}}">
        </div>
      </section>
    </div>
  </div>
  <div *ngIf="rooms$">
    <app-rooms [rooms$]="rooms$"></app-rooms>
  </div>
</div>