<div class="container">
  <h2>Hotels</h2>
  <!--TODO Using left to right display the hotel
    try to use picture -->

  <div class="input-group mb-3">
    <input type="text" #searchBox id="search-box" class="form-control" placeholder="Enter your search terms" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>

  <div class="row">
    <ul>
      <li *ngFor="let hotel of hotels">
        <h3>
          {{hotel.name}}
        </h3>
        <div>
          <app-hotel-rooms [rooms]="getRoomsByHotel(hotel._id)"></app-hotel-rooms>
        </div>
      </li>
    </ul>
  </div>
</div>
