<div class="card mx-auto h-100">
  <a routerLink="/hotel/{{hotel._id}}">
    <img class="card-img-top" src="{{hotel.img}}" alt="{{hotel.name}}">
  </a>
  <div class="card-body d-flex flex-column">
    <h4 class="card-title">
      <a routerLink="/hotel/{{hotel._id}}" class="heading-link">{{hotel.name}}</a>
    </h4>
    <p class="font-weight-light">{{hotel.address}}, {{hotel.city}}, {{hotel.country}}</p>
    <p class="card-text">{{hotel.description}}</p>
    <div *ngFor="let room of rooms$ | async">
      <p class="text-primary">
        {{room.name}} from ${{room.price}} AUD per night.
      </p>
    </div>
    <a routerLink="/hotel/{{hotel._id}}" class="btn btn-primary mt-auto" role="button">Choose Room</a>
  </div>
</div>