<div class="container">
  <mat-card>
      <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <mat-card-title>
          <div> Signup </div>
        </mat-card-title>
          <mat-form-field>
            <input matInput
                   placeholder="Enter your email"
                   name="email"
                   formControlName="email"
                   required>
            <mat-error *ngIf="email.invalid && email.touched">{{ "email must be valid"}}</mat-error>
          </mat-form-field>
          <mat-form-field hintLabel ="Minimum 4 Characters">
            <input type="password"
                  matInput
                  placeholder="Password"
                  name="password"
                  formControlName="password"
                  required>
          <mat-error *ngIf="password.invalid && password.touched">{{ 'password minimum length is 4'}}</mat-error>
          </mat-form-field>
         <mat-form-field>
          <input matInput placeholder="confirmed password"
                 name="passwordConfirmation"
                 type="password"
                 formControlName="passwordConfirmation"
                 required>
           <mat-error *ngIf="passwordMismatch">{{ "the two password" }}</mat-error>
          </mat-form-field>
        <div class="row d-flex justify-content-center">
          <button mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="this.signupForm.invalid"
          >Sign Up</button>
          <!--Value: {{signupForm | json}}}-->
          <button mat-raised-button color="warn" (click)="btnBack()" >Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>
