<div class="container">
  <mat-card>
      <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <mat-card-title>
          <div> Singup </div>
        </mat-card-title>
        <div>
          <mat-form-field>
            <input matInput placeholder="Enter your email"
                   name="email"
                   formControlName="email"
                   required>
            <mat-error *ngIf="signupForm.value.email.invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input type="password"
                 matInput
                 placeholder="Password"
                 name="pawword"
                 formControlName="password"
                 required>
          <mat-error *ngIf="signupForm.value.password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <div class="row d-flex justify-content-center">
          <button mat-raised-button
                  color="primary"
                  type="submit"
          >Sign Up</button>
          <button mat-raised-button color="warn"  >Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>
