<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar-nav navbar-expand navbar-dark bg-dark">
  <div class="navbar-header">
    <div class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/hotels">
        <h4>{{ title }}</h4>
      </a>
    </div>
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/hotels">Sign Up</a>
    </li>
    <li class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/users/login">Login</a>
    </li>
  </ul>
</nav>


<div class="container">
  <app-messages></app-messages>
  <router-outlet></router-outlet>
  <footer class="page-footer font-small blue">page footer </footer>
</div>
