<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar-nav navbar-expand navbar-dark bg-dark">
  <div class="navbar-header">
    <div class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/hotels">
        <h4>{{ title }}</h4>
      </a>
    </div>
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/user">My Profile</a>
    </li>
    <li  *ngIf="!userIsAuthenticated" class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/users/signup">Sign Up</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="nav-item navbar-brand">
      <a style="text-decoration:none" routerLink="/users/login">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated" class="nav-item navbar-brand">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</nav>


<div class="container">
  <!-- <app-messages></app-messages> -->
  <router-outlet></router-outlet>
  <footer class="page-footer font-small blue">page footer </footer>
</div>
