<div class="container-fluid" *ngIf="roomDetail">
  <h4>{{roomDetail.name}} Details</h4>
  <div><span>hotel: </span>{{roomDetail.hotel.name}}</div>
  <div><span>address: </span>{{roomDetail.hotel.address}}</div>
  <div><span>city: </span>{{roomDetail.hotel.city}}</div>
  <div><span>country: </span>{{roomDetail.hotel.country}}</div>
  <div><span>Max guests: </span>{{roomDetail.maxGuest}}</div>
  <div><span>bedrooms: </span>{{roomDetail.bedrooms}}</div>

  <form [formGroup]="reserveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Date Range</label>
      <input type="text" placeholder="please select your date range" class="form-control" [class.is-invalid]="dataRange.invalid && dataRange.touched"
        formControlName="dataRange" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="daterangepickerModel"
        bsDaterangepicker>
      <div *ngIf="dataRange.invalid && dataRange.touched">
        <small class="text-danger" *ngIf="dataRange.errors?.required">Data range is required</small>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="!reserveForm.valid">Reserve</button>
    <button class="btn btn-secondary ml-2" (click)="goBack()">Back</button>
  </form>

  <div class="row">
    <div *ngFor="let image of roomDetail.images" class="col-md-4">
      <div class="thumbnail">
        <a href="{{image}}" target="_blank">
          <img src="{{image}}" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
  </div>
