<div class="row">
  <div class="col-lg-12 p-2" *ngFor="let room of rooms$ | async">
    <a routerLink="/room/{{room._id}}">
      <div class="card d-flex flex-column">
        <div class="row">
          <div class="col-lg-6">
            <img class="hotel-image img-rounded img-responsive" *ngIf="room.images" src="{{room.images[0]}}" alt="{{room.name}}">
          </div>
          <div class="col-lg-6">
            <h4>
              {{room.name}}
            </h4>
            <dl>
              <dt>
                Rooms:
              </dt>
              <dd>
                {{room.bedrooms}}
              </dd>
              <dt>
                Price per night
              </dt>
              <dd>
                {{room.price}}
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 p-2">
    <button type="button" class="btn" (click)="goBack()">Back</button>
  </div>
</div>