<div class="container">
  <div class="row">
    <ul>
      <li *ngFor="let room of rooms$ | async">
        <div>
          <a routerLink="/room/{{room._id}}">
            <h4>
              {{room.name}}
            </h4>
          </a>
        </div>
        <div>
          <dl>
            <dt>
              Rooms:
            </dt>
            <dd>
              {{room.bedrooms}}
            </dd>
            <dt>
              Price per night
            </dt>
            <dd>
              {{room.price}}
            </dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</div>